<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/section.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <title>Biblioteca Online | Autores</title>
</head>
<body>
    <main-header></main-header>

    <main>
        <section class="section-gerencia">
            <div class="descricao-texto">
                <h1>Gerenciar Autores</h1>
                <p>
                    A seção de Autores é dedicada aos criadores das obras que compõem nosso acervo. <br>
                    Aqui, você encontrará uma lista detalhada de todos os autores cujos livros estão disponíveis <br>
                    na biblioteca, acompanhada de suas biografias, nacionalidades, e principais obras publicadas.
                </p>
                <h3>Escolha uma opção:</h3>
            </div>
            <br>
            <div class="btn-grid">
                <button onclick="location.href='cadastrar_autor.php'">Cadastrar Autor</button>
                <button onclick="location.href='listar_autor.php'">Editar Autor</button>
                <button onclick="location.href='listar_autor.php'">Listar Autores</button>
                <button onclick="location.href='listar_autor.php'">Remover Autor</button>
            </div>
        </section>
    </main>


    <main-footer></main-footer>

    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>