<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/section.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <title>Biblioteca Online | Livros</title>
</head>
<body>
    <main-header></main-header>

    <main>
        <section class="section-gerencia">
            <div class="descricao-texto">
                <h1>Gerenciar Livros</h1>
                <p>
                    A seção de livros do nosso Sistema de Biblioteca é o coração da sua experiência literária. <br>
                    Aqui, você encontrará uma extensa coleção de títulos que abrange todos os gêneros, <br>
                    desde clássicos da literatura até as obras mais recentes e populares. 
                </p>
                <h3>Escolha uma opção:</h3>
            </div>
            <br>
            <div class="btn-grid">
                <button onclick="location.href='cadastrar_livro.php'">Cadastrar Livro</button>
                <button onclick="location.href='listar_livro.php'">Editar Livro</button>
                <button onclick="location.href='listar_livro.php'">Listar Livros</button>
                <button onclick="location.href='listar_livro.php'">Remover Livro</button>
            </div>
        </section>
    </main>


    <main-footer></main-footer>

    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>