<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/section.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/scrollbar.css">
    <title>Biblioteca Online | Página Principal</title>
</head>
<body>
    <main-header></main-header>

    <main>
        <section class="descricao">
            <div class="descricao-texto">
                <h1>Bem-vindo ao Sistema de Biblioteca!</h1>
                <p>
                    Bem-vindo ao Sistema de Biblioteca Online, onde a leitura encontra a tecnologia! <br>
                    Com nossa plataforma, você pode explorar uma vasta coleção de livros, <br>
                    acompanhar seus autores favoritos, gerenciar empréstimos e acessar recursos <br> 
                    personalizados para estudantes. 
                </p>
                <p>
                    Simplifique suas leituras e organize seu conhecimento com eficiência e praticidade. <br>
                    Descubra, empreste e aprenda com apenas alguns cliques!
                </p>
                <button>Saber Mais</button>
            </div>
            <img src="./svg/Book lover-bro (1).svg" alt="imagem" id="img-principal" draggable="false">
            
        </section>
    </main>


    <main-footer></main-footer>

    <script src="./js/header.js"></script>
    <script src="./js/footer.js"></script>
</body>
</html>