<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/geral.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/section.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <title>Biblioteca Online | Estudantes</title>
</head>
<body>
    <main-header></main-header>

    <main>
        <section class="section-gerencia">
            <div class="descricao-texto">
                <h1>Gerenciar Estudantes</h1>
                <p>
                    A seção de Estudantes é projetada para gerenciar os usuários cadastrados em nossa biblioteca. <br>
                    Aqui, você encontrará uma lista completa de todos os estudantes registrados, <br>
                    com informações detalhadas como nome, matrícula, cursos e histórico de empréstimos.
                </p>
                <h3>Escolha uma opção:</h3>
            </div>
            <br>
            <div class="btn-grid">
                <button onclick="location.href='cadastrar_estudante.php'">Cadastrar Estudante</button>
                <button onclick="location.href='listar_estudante.php'">Editar Estudante</button>
                <button onclick="location.href='listar_estudante.php'">Listar Estudantes</button>
                <button onclick="location.href='listar_estudante.php'">Remover Estudante</button>
            </div>
        </section>
    </main>


    <main-footer></main-footer>

    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>